body {
  background-color: rgb(241, 245, 245);
  /* background-color: rgb(19, 23, 23); */
}
.container {
  width: 360px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  margin: auto;
  margin-top: 20px;
}
input {
  outline: none;
  padding: 8px;
  width: 270px;
  border: solid 2px rgb(6, 145, 145);
  font-size: 19px;
}
.btn-add {
  width: 60px;
  background-color: rgb(4, 29, 29);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 19px;
  padding: 10px;
}
.text ul {
  position: relative;
  color: white;
  /* padding: 7px; */
  text-align: left;
  padding: 0;
}
.text ul li {
  background-color: rgb(5, 31, 31);
  margin: 10px 0;
  font-size: 19px;

  padding: 10px 20px;
  /* position: absolute; */
  /* left: 10px; */
  cursor: pointer;
}
